.admin-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 14%;
}

.admin-wrapper button {
    padding: 7% 2%;
    font-size: 1.5rem;
}

.create-donor-tab {
    display: none;
}
.selected {
    display: block;
}

.header-tab {
    color: rgba(211, 211, 211, 0.377);
}

.selected-tab {
    color: deepskyblue;
    border-bottom: 1px solid deepskyblue;
}