
.donors-wrapper {
    text-align: center;
}

.donors-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.donors-list a {
    text-decoration: none;
    color: black;
    width: 100%;
    margin-bottom: 10px;
}

.donor-wrapper:hover {
    background: lightgrey;
    transform: scale(1.1);
}

.donor-wrapper {
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.donor-wrapper h1 {
    margin: 1%;
    width: 71%;
    font-size: 1.5rem;
}