.navbar-wrapper {
    display: flex;
    margin-top: 30px;
}

.logo {
    margin-left: 3%;
    width: 41.5%;
}
.navbar-wrapper h2 {
    margin-top: 10px;
}
.nav-links{
    margin-top: 20px;
    margin-left: 25%;
    width: 12%;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    margin-right: 9%;
}

.nav-links a.active{
    border-bottom: 1px solid deepskyblue;
}

.nav-links button {
    padding: 3%;
}