.sign-up-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 14%;
}

.sign-up-wrapper button {
    padding: 4% 9%;
    width: 71%;
    margin: 10% 15%;
}

.sign-up-wrapper input {
    padding: 3%;
    margin-bottom: 2%;
    border-radius: 3px;
    border: 1px solid grey;
    font-size: 1.4rem;
}