.container-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 25%;
}

button {
    border: none;
    background: #faa322;
    color: white;
    font-size: 1.3rem;
    font-family: "Lato", "Verdana";
    cursor: pointer;
}

button:hover {
  box-shadow: inset 0px 0px 15px 3px white;
}